* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    padding: 15px;
}

h1 {
    padding: 15px;
}

main {
    margin: 2rem;
    padding: 15px;
    max-width: 500px;
    border: 2px solid #e9bcbc;
    border-radius: 10px;
}

p {
    padding: 5px 15px;
}

ul {
    padding: 15px;
}

ul li {
    list-style-type: none;
    padding: 15px 0;
}

footer {
    background-color: rgb(165, 165, 165);
    color: rgb(41, 41, 41);
    padding: 15px;
    width: 100%;
    position:fixed;
    bottom: 0;
}

footer p{
    display: inline-block;
}